{% extends "base.html" %}

{% load wagtailcore_tags %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}



{% block content %}
    <link rel = "stylesheet" href="{%static 'css/work.css' %}">


        <div class="gallery-container">
            <div class="gallery-cards">
                {% for post in workpages %}
                    {% with post=post.specific %} 
                        <div class="gallery-card">
                            {% with post.main_image as main_image %}
                                <div class="image-container">
                                    {% if main_image %}
                                        <a href="{% pageurl post %}">
                                            {% image main_image fill-350x300 as tmp_photo%}
                                            <img src="{{ tmp_photo.url }}" width="{{ tmp_photo.width }}"
                                        height="{{ tmp_photo.height }}" alt="{{ tmp_photo.alt }}" class="custom-image"></a>
                                    </div>
                                
                                    <div class="contents">
                                        <div class="title"><a href="{% pageurl post %}"><p>{{ post.name }}</p></a></div>
                                        <div class="subtitle"><a href="{% pageurl post %}"><p>{{ post.subtitle }}</p></a></div>
                                    </div>
                             
                                {% endif %}
                                {% endwith %} 
                            </div>  
                        {% endwith %}
                {% endfor %}
            </div>




{% endblock %}