*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  
}

.image-container{
    width: 50%;
}

.image-sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.custom-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.description-container{
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto 0px auto 0px;
}

.description-sub-container{
    flex-direction: column;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.name{
    padding: 8px;
    font-size: 19px;
    margin-bottom: 15px;
    font-weight: 900;
}

.subtitle{
    flex-direction: column;
    padding: 8px;
    font-size: 12px;
    color: #a1a1a1;
    font-weight: lighter;
}

.description{
    padding: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #696969;
}
.about{
    color: black;
    border-width: 0px 0px 1px 0px;
    border-color: #696969;
    font-weight: 700;
  }
  
  .work,.blog,.contact{
    color: #696969;
  }
  


/* Mobile View */
@media screen and (min-width: 100px) and (max-width: 480px){
    .about-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .image-container{
        width: 100%;
        margin-bottom: 30px;
    }

    .custom-image{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .description-container{
        width: 100%;
    }

    .description-sub-container{
        width: 100%;
        padding: 0px;
    }

    
    .name{
        font-size: 19px;
        font-weight: 900;
        margin-bottom: 1px;
    }
    
    .subtitle{
        font-size: 12px;
        margin-bottom: 1px;
        letter-spacing: 1.18px;
        color: #a1a1a1;
        font-weight: lighter;
    }
    
    .description{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 1px;
        color: #696969;
    }
}





/* for Ipads and Tablets */
@media screen and (min-width: 481px) and (max-width: 900px){
    .about-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .image-container{
        width: 100%;
        margin-bottom: 20px;
    }

    .custom-image{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .description-container{
        width: 100%;
    }

    .description-sub-container{
        width: 100%;
        padding: 0px;
    }
    
    .name{
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 5px;
    }
    
    .subtitle{
        font-size: 12px;
        margin-bottom: 10px;
        letter-spacing: 1.18px;
        color: #a1a1a1;
        font-weight: lighter;
    }
    
    .description{
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 5px;
        color: #696969;
    }
}
